In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp39-cp39-macosx_10_9_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 11.4 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting numpy>=1.20.3
  Downloading numpy-1.25.1-cp39-cp39-macosx_10_9_x86_64.whl (20.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.1/20.1 MB 13.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 12.8 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.1 pandas-2.0.3 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.2
[notice] To update, run: pip install --upgrade pip

In [2]:
!pip install gcsfs

Collecting gcsfs
  Downloading gcsfs-2023.6.0-py2.py3-none-any.whl (26 kB)
Collecting google-auth-oauthlib
  Downloading google_auth_oauthlib-1.0.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: google-cloud-storage in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from gcsfs) (2.10.0)
Collecting fsspec==2023.6.0
  Downloading fsspec-2023.6.0-py3-none-any.whl (163 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 163.8/163.8 kB 6.6 MB/s eta 0:00:00
Requirement already satisfied: decorator>4.1.2 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from gcsfs) (5.1.1)
Requirement already satisfied: requests in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from gcsfs) (2.31.0)
Requirement already satisfied: google-auth>=1.2 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from gcsfs) (2.22.0)
Collecting aiohttp!=4.0.0a0,!=4.0.0a1
  Downloading aiohttp-3.8.4-cp39-cp39-macosx_10_9_x86_64.whl (360 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 360.3/360.3 kB 6.8 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.9.2-cp39-cp39-macosx_10_9_x86_64.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.9/65.9 kB 3.0 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.4.0-cp39-cp39-macosx_10_9_x86_64.whl (47 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.6/47.6 kB 5.2 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (3.2.0)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-macosx_10_9_x86_64.whl (29 kB)
Collecting attrs>=17.3.0
  Using cached attrs-23.1.0-py3-none-any.whl (61 kB)
Requirement already satisfied: urllib3<2.0 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-auth>=1.2->gcsfs) (1.26.16)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-auth>=1.2->gcsfs) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-auth>=1.2->gcsfs) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-auth>=1.2->gcsfs) (5.3.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-auth>=1.2->gcsfs) (4.9)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: google-resumable-media>=2.3.2 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-cloud-storage->gcsfs) (2.5.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-cloud-storage->gcsfs) (2.3.3)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-cloud-storage->gcsfs) (2.11.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from requests->gcsfs) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from requests->gcsfs) (2023.5.7)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.59.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (4.23.4)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from google-resumable-media>=2.3.2->google-cloud-storage->gcsfs) (1.5.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.5.0)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 151.7/151.7 kB 6.2 MB/s eta 0:00:00
Installing collected packages: oauthlib, multidict, fsspec, frozenlist, attrs, async-timeout, yarl, requests-oauthlib, aiosignal, google-auth-oauthlib, aiohttp, gcsfs
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 attrs-23.1.0 frozenlist-1.4.0 fsspec-2023.6.0 gcsfs-2023.6.0 google-auth-oauthlib-1.0.0 multidict-6.0.4 oauthlib-3.2.2 requests-oauthlib-1.3.1 yarl-1.9.2

[notice] A new release of pip available: 22.3.1 -> 23.2
[notice] To update, run: pip install --upgrade pip

In [1]:
import pandas as pd

In [4]:
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols=None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace: 'bool' = False,
    skiprows=None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool' = False,
    date_parser=<no_default>,
    date_format: 'str | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool' = False,
    low_memory=True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, None, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, optional, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.

    .. versionadded:: 1.5.0

        Support for defaultdict was added. Specify a defaultdict as input where
        the default determines the dtype of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The "pyarrow" engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True in addition to case-insensitive variants of "True".
false_values : list, optional
    Values to consider as False in addition to case-insensitive variants of "False".
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
    'n/a', 'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`to_datetime` as-needed.
date_format : str or dict of column -> format, default ``None``
   If used in conjunction with ``parse_dates``, will parse dates according to this
   format. For anything more complex,
   please read in as ``object`` and then apply :func:`to_datetime` as-needed.

   .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
    key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional, default "utf-8"
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors="replace"`` is passed to
       ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
       This behavior was previously only the case for ``engine="python"``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default "strict"
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

        - 'error', raise an Exception when a bad line is encountered.
        - 'warn', raise a warning when a bad line is encountered and skip that line.
        - 'skip', skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new list of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine="python"``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are ``None`` or 'high' for the ordinary converter,
    'legacy' for the original lower precision pandas converter, and
    'round_trip' for the round-trip converter.

    .. versionchanged:: 1.2

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

    .. versionadded:: 1.2

dtype_backend : {"numpy_nullable", "pyarrow"}, defaults to NumPy backed DataFrames
    Which dtype_backend to use, e.g. whether a DataFrame should have NumPy

In [5]:
!gsutil ls -r 'gs://wjdatalake/data/retail_db'

gs://wjdatalake/data/retail_db/:
gs://wjdatalake/data/retail_db/README.md
gs://wjdatalake/data/retail_db/create_db.sql
gs://wjdatalake/data/retail_db/create_db_tables_pg.sql
gs://wjdatalake/data/retail_db/load_db_tables_pg.sql
gs://wjdatalake/data/retail_db/schemas.json

gs://wjdatalake/data/retail_db/categories/:
gs://wjdatalake/data/retail_db/categories/part-00000

gs://wjdatalake/data/retail_db/customers/:
gs://wjdatalake/data/retail_db/customers/part-00000

gs://wjdatalake/data/retail_db/departments/:
gs://wjdatalake/data/retail_db/departments/part-00000

gs://wjdatalake/data/retail_db/order_items/:
gs://wjdatalake/data/retail_db/order_items/part-00000

gs://wjdatalake/data/retail_db/orders/:
gs://wjdatalake/data/retail_db/orders/part-00000

gs://wjdatalake/data/retail_db/products/:
gs://wjdatalake/data/retail_db/products/part-00000

In [2]:
columns = ['order_id', 'order_date', 'order_customer_id', 'order_status']

In [3]:
df = pd.read_csv('gs://wjdatalake/data/retail_db/orders/part-00000', names=columns)

In [4]:
df.head()

   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE
3         4  2013-07-25 00:00:00.0               8827           CLOSED
4         5  2013-07-25 00:00:00.0              11318         COMPLETE

In [11]:
df.describe()

           order_id  order_customer_id
count  68883.000000       68883.000000
mean   34442.000000        6216.571099
std    19884.953633        3586.205241
min        1.000000           1.000000
25%    17221.500000        3122.000000
50%    34442.000000        6199.000000
75%    51662.500000        9326.000000
max    68883.000000       12435.000000

In [12]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-12.0.1-cp39-cp39-macosx_10_14_x86_64.whl (24.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.8/24.8 MB 10.7 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: numpy>=1.16.6 in /Users/woojin/Documents/data_engineer/data-engineering-gcp/venv/lib/python3.9/site-packages (from pyarrow) (1.25.1)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.1

[notice] A new release of pip available: 22.3.1 -> 23.2
[notice] To update, run: pip install --upgrade pip

In [5]:
df.to_parquet(
    'gs://wjdatalake/data/retail_db_parquet/orders/part-00000.snappy.parquet',
    index=False)

In [6]:
!gsutil ls gs://wjdatalake/data/retail_db_parquet/orders

gs://wjdatalake/data/retail_db_parquet/orders/part-00000.snappy.parquet

In [16]:
df = pd.read_parquet('gs://wjdatalake/data/retail_db_parquet/orders/part-00000.snappy.parquet')
df

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [7]:
import json

In [8]:
schemas = json.load(open('../../data/retail_db/schemas.json'))
schemas

{'departments': [{'column_name': 'department_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'department_name',
   'data_type': 'string',
   'column_position': 2}],
 'categories': [{'column_name': 'category_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'category_department_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'category_name',
   'data_type': 'string',
   'column_position': 3}],
 'orders': [{'column_name': 'order_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
  {'column_name': 'order_customer_id',
   'data_type': 'timestamp',
   'column_position': 3},
  {'column_name': 'order_status',
   'data_type': 'string',
   'column_position': 4}],
 'products': [{'column_name': 'product_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'product_cateogry_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'product_name', 'data_type': '', 'column_position': 3},
  {'column_name': 'product_description',
   'data_type': 'string',
   'column_position': 4},
  {'column_name': 'product_price', 'data_type': 'float', 'column_position': 5},
  {'column_name': 'product_image',
   'data_type': 'string',
   'column_position': 6}],
 'customers': [{'column_name': 'customer_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'customer_fname',
   'data_type': 'string',
   'column_position': 2},
  {'column_name': 'customer_lname',
   'data_type': 'string',
   'column_position': 3},
  {'column_name': 'customer_email',
   'data_type': 'string',
   'column_position': 4},
  {'column_name': 'customer_password',
   'data_type': 'string',
   'column_position': 5},
  {'column_name': 'customer_street',
   'data_type': 'string',
   'column_position': 6},
  {'column_name': 'customer_city',
   'data_type': 'string',
   'column_position': 7},
  {'column_name': 'customer_state',
   'data_type': 'string',
   'column_position': 8},
  {'column_name': 'customer_zipcode',
   'data_type': 'integer',
   'column_position': 9}],
 'order_items': [{'column_name': 'order_item_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'order_item_order_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'order_item_product_id',
   'data_type': 'integer',
   'column_position': 3},
  {'column_name': 'order_item_quantity',
   'data_type': 'integer',
   'column_position': 4},
  {'column_name': 'order_item_subtotal',
   'data_type': 'float',
   'column_position': 5},
  {'column_name': 'order_item_product_price',
   'data_type': 'float',
   'column_position': 6}]}

In [9]:
ds_schema = sorted(schemas['orders'], key=lambda col: col['column_position'])
ds_schema

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1},
 {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
 {'column_name': 'order_customer_id',
  'data_type': 'timestamp',
  'column_position': 3},
 {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]

In [10]:
def get_column_names(schemas_file, ds_name):
    schemas = json.load(open(schemas_file))
    ds_schema = sorted(schemas[ds_name], key=lambda col: col['column_position'])
    columns = [col['column_name'] for col in ds_schema]
    return columns

In [11]:
get_column_names('../../data/retail_db/schemas.json', 'orders')

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [13]:
table_list = ['departments', 'categories', 'products', 'customers', 'orders', 'order_items']
for ds in table_list:
    column_names = get_column_names('../../data/retail_db/schemas.json', ds)
    print(f'''columns for {ds} are {','.join(column_names)}''')

columns for departments are department_id,department_name
columns for categories are category_id,category_department_id,category_name
columns for products are product_id,product_cateogry_id,product_name,product_description,product_price,product_image
columns for customers are customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
columns for orders are order_id,order_date,order_customer_id,order_status
columns for order_items are order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price

In [14]:
tgt_base_dir = 'retail_db_parquet'
src_base_dir = '../../data/retail_db'

In [15]:
import glob
import os
def get_file_names(src_base_dir):
    items = glob.glob(f'{src_base_dir}/**', recursive=True)
    return list(filter(lambda item: os.path.isfile(item) and item.endswith('part-00000'), items))

In [16]:
import pandas as pd

In [17]:
get_file_names('../../data/retail_db')

['../../data/retail_db/customers/part-00000',
 '../../data/retail_db/products/part-00000',
 '../../data/retail_db/departments/part-00000',
 '../../data/retail_db/order_items/part-00000',
 '../../data/retail_db/orders/part-00000',
 '../../data/retail_db/categories/part-00000']

In [18]:
file = get_file_names('../../data/retail_db')[1]
blob_suffix = '/'.join(file.split('/')[-2:])
blob_suffix

'products/part-00000'

In [19]:
schemas_file = '../../data/retail_db/schemas.json'
bucket = 'wjdatalake'
files = get_file_names(src_base_dir)
for file in files:
    print(f'Uploading file {file}')
    blob_suffix = '/'.join(file.split('/')[-2:])
    ds_name = file.split('/')[-2]
    blob_name = f'gs://{bucket}/data/{tgt_base_dir}/{blob_suffix}.snappy.parquet'
    columns = get_column_names(schemas_file, ds_name)
    df = pd.read_csv(file, names=columns)
    df.to_parquet(blob_name, index=False)

Uploading file ../../data/retail_db/customers/part-00000
Uploading file ../../data/retail_db/products/part-00000
Uploading file ../../data/retail_db/departments/part-00000
Uploading file ../../data/retail_db/order_items/part-00000
Uploading file ../../data/retail_db/orders/part-00000
Uploading file ../../data/retail_db/categories/part-00000

In [20]:
!gsutil ls -r 'gs://wjdatalake/data/retail_db_parquet'

gs://wjdatalake/data/retail_db_parquet/:

gs://wjdatalake/data/retail_db_parquet/categories/:
gs://wjdatalake/data/retail_db_parquet/categories/part-00000.snappy.parquet

gs://wjdatalake/data/retail_db_parquet/customers/:
gs://wjdatalake/data/retail_db_parquet/customers/part-00000.snappy.parquet

gs://wjdatalake/data/retail_db_parquet/departments/:
gs://wjdatalake/data/retail_db_parquet/departments/part-00000.snappy.parquet

gs://wjdatalake/data/retail_db_parquet/order_items/:
gs://wjdatalake/data/retail_db_parquet/order_items/part-00000.snappy.parquet

gs://wjdatalake/data/retail_db_parquet/orders/:
gs://wjdatalake/data/retail_db_parquet/orders/part-00000.snappy.parquet

gs://wjdatalake/data/retail_db_parquet/products/:
gs://wjdatalake/data/retail_db_parquet/products/part-00000.snappy.parquet

In [49]:
pd.read_parquet('gs://wjdatalake/data/retail_db_parquet/products/part-00000.snappy.parquet')

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...
...,...,...,...,...,...,...
1340,1341,59,Nike Women's Cleveland Browns Johnny Football,NaN,34.00,http://images.acmesports.sports/Nike+Women%27s...
1341,1342,59,Nike Men's St. Louis Rams Michael Sam #96 Nam,NaN,32.00,http://images.acmesports.sports/Nike+Men%27s+S...
1342,1343,59,Nike Men's Home Game Jersey St. Louis Rams Mi,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1343,1344,59,Nike Men's Home Game Jersey St. Louis Rams Aa,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1344,1345,59,Nike Men's Home Game Jersey St. Louis Rams Gr,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...

In [50]:
pd.read_parquet('gs://wjdatalake/data/retail_db_parquet/orders/part-00000.snappy.parquet')

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [52]:
pd.read_csv('../../data/retail_db/orders/part-00000', header=None)

           0                      1      2                3
0          1  2013-07-25 00:00:00.0  11599           CLOSED
1          2  2013-07-25 00:00:00.0    256  PENDING_PAYMENT
2          3  2013-07-25 00:00:00.0  12111         COMPLETE
3          4  2013-07-25 00:00:00.0   8827           CLOSED
4          5  2013-07-25 00:00:00.0  11318         COMPLETE
...      ...                    ...    ...              ...
68878  68879  2014-07-09 00:00:00.0    778         COMPLETE
68879  68880  2014-07-13 00:00:00.0   1117         COMPLETE
68880  68881  2014-07-19 00:00:00.0   2518  PENDING_PAYMENT
68881  68882  2014-07-22 00:00:00.0  10000          ON_HOLD
68882  68883  2014-07-23 00:00:00.0   5533         COMPLETE

[68883 rows x 4 columns]

In [53]:
table_list = ['departments', 'categories', 'products', 'customers', 'orders', 'order_items']
for ds in table_list:
    df = pd.read_csv(f'../data/retail_db/{ds}/part-00000', header=None)
    print(f'Shape of {ds} in local files system is {df.shape}')

Shape of departments in local files system is (6, 2)
Shape of categories in local files system is (58, 3)
Shape of products in local files system is (1345, 6)
Shape of customers in local files system is (12435, 9)
Shape of orders in local files system is (68883, 4)
Shape of order_items in local files system is (172198, 6)

In [21]:
table_list = ['departments', 'categories', 'products', 'customers', 'orders', 'order_items']
for ds in table_list:
    df = pd.read_parquet(f'gs://wjdatalake/data/retail_db_parquet/{ds}/part-00000.snappy.parquet')
    print(f'Shape of {ds} in local files system is {df.shape}')

Shape of departments in local files system is (6, 2)
Shape of categories in local files system is (58, 3)
Shape of products in local files system is (1345, 6)
Shape of customers in local files system is (12435, 9)
Shape of orders in local files system is (68883, 4)
Shape of order_items in local files system is (172198, 6)